[submodule "GOLib"]
	path = GOLib
	url = git://github.com/jpbruyere/GOLib.git
[submodule "GGL"]
	path = GGL
	url = git://github.com/jpbruyere/GGL.git
[submodule "OpenTK"]
	path = OpenTK
	url = git://github.com/opentk/opentk.git
[submodule "MiscUtil"]
	path = MiscUtil
	url = git://github.com/jpbruyere/MiscUtil.git
